
body {
  margin: 0px;
  overflow: hidden;
}

#bgimg{
  position: fixed;
}

@font-face {
  font-family: BukhariScript-Regular;
  src: url(../fonts/BukhariScript-Regular.ttf);
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

.title {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 5%;
}

h1 {
   margin-bottom: 5px;
   margin: auto;
   color: #ff1616;
   font-family: 'GlacialIndifferenceRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 3.8em;
}

h2 {
  margin: 0px;
  margin: auto;
  color: white;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 3.4em;
}

.bphrase {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 70%;
  left: 5%;
}

h3 {
  margin: 0px;
  margin: auto;
  color: white;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h4 {
  margin: 0px;
  margin: auto;
  color: #ff1616;
  text-align: center;
  font-family: 'BukhariScript-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h5 {
  margin: 0px;
  margin: auto;
  color: white;
  text-align: center;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h6 {
  margin: 0px;
  margin: auto;
  color: #ff1616;
  text-align: center;
  font-family: 'BebasNeue-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

.smbtns {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 5%;
  left: 70%;
}

.twitter {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 4%;
  left: 70%;
}

.github {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 4%;
  left: 80%;
}

.linkedin {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 4%;
  left: 90%;
}

.smlinks img{
  width: 4em;
  height: 4em;
}
