body {
  margin: 0;
}
.top {
  display: flex;
  justify-content: center;
  background-color: #98C1D9;
  padding: 70px;
  background-size: cover;
}
.lngs{
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 5vw;
  margin-top: 3%;
  margin-left: 3%;
}
#ita {
  background-color: #3D5A80;
  margin-right: 5%;
}
#en{
  background-color: #3D5A80;
}
button {
  box-sizing: border-box;
  border-radius: 20%;
  padding-left: 1vw;
  padding-right: 1vw;
}
.saluto {
  background-color: #98C1D9;
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
}
.smlinks {
  background-color: #98C1D9;
  display: flex;
  justify-content: space-around;
}
.smimg {
  display: flex;
  max-width: 100%;
  width: 4vw;
}
a {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
ul {
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
  list-style-type: circle;
}
li {
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
}
#enlng {
  margin-bottom: 2%;
}
#mysql {
  margin-bottom: 2%;
}
#sk3 {
  margin-bottom: 2%;
}
#tl2 {
  padding-bottom: 2%;
}
#lngslist {
  padding-top: 2%;
}
#mid {
  padding-bottom: 3%;
}
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2.3vw;
}
h2 {
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
}
h3 {
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
}
h7 {
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1vw;
}
h8 {
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
  text-align: center;
}
p {
  margin-left: 10%;
  margin-right: 50%
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
}
.me {
  align-self: center;
  max-width: 20%;
  border-radius: 50%;
  flex: auto;
  flex-grow: 3;
}
.mid {
  background-color: #E0FBFC;
  display: flex;
  justify-content: center;
}
.aboutme {
  background-color: #E0FBFC;
}
.infol {
  margin-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
}
.infor {
  background-color: #98C1D9;
  padding-left: 3%;
  padding-right: 3%;
}
.ptitle {
  display: flex;
  justify-content: center;
  background-color: #E0FBFC;
}
.work {
  background-color: #E0FBFC;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
.spath {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: auto;
}
.zod {
  max-width: 100%;

}
.zodiak {
  max-width: 100%;
  width: 15vw;
}
.zodbtn {
  max-width: 100%;
}
.spath:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.zod:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.contatti {
  display: flex;
  justify-content: center;
  background-color: #98C1D9;
}
@font-face {
  font-family: BukhariScript-Regular;
  src: url(../fonts/BukhariScript-Regular.ttf);
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@media screen and (max-width: 480px) {
  .top {
    display: flex;
    justify-content: center;
    background-color: #98C1D9;
    padding-top: 30px;
    background-size: cover;
  }
  .me {
    align-self: center;
    max-width: 70%;
    border-radius: 50%;
    flex: auto;
    flex-grow: 3;
  }
  .mid {
  }
  .lngs{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 5vw;
    margin-top: 5%;
    margin-left: 10%;
  }
  ul {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 4vw;
    text-align: center;
    padding: 0;
  }
  li {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vw;
  }
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
  }
  h2 {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
  }
  #mid {
    font-size: 5vw;
  }
  #projectstitle {
    font-size: 5vw;
  }
  h3 {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: 10%;
  }
  h4 {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
  }
  h8 {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vw;
    text-align: center;
  }
  h7 {
    color: black;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vw;
  }
  .aboutme {
    background-color: #E0FBFC;
    display: flex;
    flex-direction: column;
  }
  .infol {
    margin-bottom: 50px;
  }
  .infor {
    margin-bottom: 30px;
  }
  .work{
    display: flex;
    flex-direction: column;
  }
  .workinfo{
    margin-left: 0px;
    justify-content: center;
  }
  .zod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
  }
  .zodbtn {
    padding-top: 0px;
  }
  .zodiak {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
  }
  .spath {
    max-width: 50%;
    justify-content: center;
    margin: 0;
  }

  .smlinks {
    display: flex;
    flex-direction: row;
  }
  .smimg {
    margin: auto;
    max-width: 100%;
  }
}
