
body {
  margin: auto;
  overflow: hidden;
}

#bgimg{
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mobilebg{
  display: none;
}

.smlinks{
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 2em;
}

.smlinks > .sm{
  margin: 1em;
}


.smlinks img{
  width: 4em;
  height: 4em;
}

@font-face {
  font-family: BukhariScript-Regular;
  src: url(../fonts/BukhariScript-Regular.ttf);
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

.title {
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 5%;
}

h1 {
   margin-bottom: 5px;
   margin: auto;
   color: #ff1616;
   font-family: 'GlacialIndifferenceRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 3.8em;
}

h2 {
  margin: 0px;
  margin: auto;
  color: white;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 3.4em;
}

.bphrase {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin: auto;
  position: absolute;
  top: 70%;
  left: 5%;
}

h3 {
  margin: 0px;
  margin: auto;
  color: white;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h4 {
  margin: 0px;
  margin: auto;
  color: #ff1616;
  text-align: center;
  font-family: 'BukhariScript-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h5 {
  margin: 0px;
  margin: auto;
  color: white;
  text-align: center;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h6 {
  margin: 0px;
  margin: auto;
  color: #ff1616;
  text-align: center;
  font-family: 'BebasNeue-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

@media only screen and (max-width: 600px){
  #bgimg{
    display: none;
  }

  #mobilebg{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -1;

  }

  .smlinks{
    width: 100vw;
    justify-content: center;
    padding: 0;
    right: 0;
  }

  .smlinks img{
    width: 3.5em;
    height: 3.5em;
  }

  .smlinks > .sm{
    margin: 1em;
  }

  .title > .txt{
    margin: 20px;
  }

  .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    left: 0;
  }


  h1{
    font-size: 5em;
  }

  h2{
    font-size: 2em;
    padding-left: 1.2em;
  }

  .bphrase{
    width: 100vw;
    justify-content: center;
    font-size: 1em;
    left: 0;
  }

}
