body {
  padding: 0 8rem;
  @media screen and (max-width: 992px) {
    padding: 0 5rem !important;
  }
  @media screen and (max-width: 768px) {
    padding: 0 1rem !important;
    .tooltip {
      display: none !important;
    }
  }
}
body:has(.aboutPage, .contactPage) {
  padding: 0 calc(10rem);
}
.navbar {
  background-color: var(--primary);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--sky);
  color: white;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--secondary);
      border-radius: 50%;
    }
  }
}

.homePage {
  .headSection {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      border: 1px solid var(--sky);
      border-radius: 50%;
    }
  }
  .text {
    h1 {
      color: white;
    }
    text-align: center;
    font-size: 1rem;
  }
  .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      text-align: center;
    }
  }
}

.projectContainer {
  margin-top: 2rem;
  border: 1px solid var(--sky);
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 992px) {
    .projectCard {
      width: 100% !important;
      max-width: 100% !important;
    }
    .urlTag {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    h2 {
      text-align: center;
    }
  }

  .projectCard {
    max-width: calc(33.45% - 1rem);
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 20px;

    .statusContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .color {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        &.yellow {
          color: yellow;
        }
        &.green {
          color: rgb(62, 173, 62);
        }
        &.blue {
          color: var(--sky);
        }
      }
    }

    h2 {
      color: white;
    }

    .description {
      min-height: 120px;
    }

    .urlTag {
      margin-top: 1rem;
      a {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: var(--secondary);
        border-radius: 20px;
        width: auto;
        .url {
          margin-left: 1rem;
          font-size: 12px;
        }
      }
    }
  }
}

.aboutPage {
  @media screen and (max-width: 768px) {
    padding-bottom: 5rem;
  }
}

.aboutPage,
.contactPage {
  h1 {
    text-align: center;
    color: white;
    margin-bottom: 4rem;
  }
  p {
    font-size: 1.1rem;
  }
  span {
    color: white;
  }
}

.contactPage {
  .socialLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
